.dashboard {
    padding: 10px;
    margin: 5px;
  }
  
  .spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #fff;
  }
