.graphicalSummary {
  padding: 20px;
}

.chartWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.chartContainer {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  padding: 20px;
  background-color: #fff;
}

.chartContainer h3 {
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
}


.chartContent {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  width: 100%;
}

.infoItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legendColor {
  width: 5px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
}
.container{
  width:50% !important;
  height: 300px !important
}

@media (max-width: 768px) {
  .chartContainer {
    flex: 1 1 100%;
    width: 100%;
  }

  .chartContent {
    flex-direction: column;
    align-items: center;
  }

  .info {
    padding-left: 0;
  }
  .container{
    width: 100% !important;
  }
}
