.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.modalContent {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  width: 400px;
  z-index: 1000; 
  margin: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}

.subscriptionContainer {
  margin-top: 20px;
}

.subscription {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.package {
  display: flex;
  align-items: center;
}

.expiryDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.noSubscription {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; 
  font-size: 18px;
  color: #666;
}


.expiryDate span:last-child {
  color: #ff6347; 
}
