.userList {
    margin-top: 20px;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .sortButtons, .search {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .sortButtons button, .search {
    flex: 1 1 auto;
    min-width: 120px;
  }
  
  .sortButtons button {
    background-color: #fff;
    color: #D10363;
    border: 2px solid #D10363;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .sortButtons button:hover {
    background-color: #D10363;
    color: #fff;
  }
  
  .search {
    align-items: center;
    background: white;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search input {
    border: none;
    margin-left: 5px;
    padding: 5px;
    outline: none;
    flex-grow: 1;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  @media (min-width: 600px) {
    .controls {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .sortButtons {
      flex-direction: row;
    }
  
    .search {
      width: auto;
    }
  }
  
  @media (min-width: 900px) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
  }
  