.userCard {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
  }
  
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
    font-size: 1.5em;
    position: relative;
  }
  
  .onlineIndicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
  
  .userInfo {
    width: 100%;
  }
  
  .userNameRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .userNameRow h3 {
    font-size: 1.2em;
    margin: 0;
    color: #333;
  }
  
  .userEmail, .location {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
  }
  
  .location {
    display: flex;
    align-items: center;
  }
  
  .location svg {
    margin-right: 5px;
  }
  
  .viewSubButton {
    padding: 10px;
   background-color: #fff;
    color: #808836;
    border: 2px solid #808836;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    text-align: center;
  }
  
  .viewSubButton:hover {
    background: #808836;
    color: #fff;
  }
  